<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação</title>
</head>

<body>
    {{a}}<br>
    tid:{{tid}}<br>
    avaliador:{{avaliador}}<br>
    Avaliação de trabalhos

    <form action="{% url  'processa_avaliacao' %}" method="POST">{% csrf_token %}
        <label>Diagramação</label><input type="number" placeholder="nota" min="0" max="10" name="diagramacao"><br>
        <label>Texto</label><input type="number" placeholder="nota" min="0" max="10" name="texto"><br>
        <label>Apresentação</label><input type="number" placeholder="nota" min="0" max="10" name="apresentacao"><br>
        <input type="hidden" name="tid" value="{{tid}}">
        <input type="submit" value="avaliar">
    </form>
</body>

</html>