<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação</title>
</head>

<body>
    Avaliação de trabalho<br>
    avaliador: {{avaliador}}<br>
    titulo : {{titulo}}<br>
    autores: {{autores}}<br>
    <br>

    Notas:
    <form action="{% url 'avaliar' %}" method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="hidden" name="tid" value="{{tid}}">
        <input type="submit" value="avaliar">
    </form>

</body>

</html>